// @use "~@/styles/utils/variables" as *;
$primary-text-color: #F8F8FF;
$secondary-text-color:#808080cc;
$accent-text-color:#f80000;

$border-color:#8080804b;
$border-color-semi-transparent:#8080802f;

$background-color: #0F0F10;
$secondary-background-color: #18181B;
$accent-background-color:#f80000;
$accent-background-color-active:#f8000077;


$white-text-color: #ffffff;
$card: #252525;
